@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Välkomen till Beerblioteket</h1>
    <div class="dateOfBirth">
        <label asp="date">Skriv in ditt födelsedatum</label>
        <input type="date" id="date"/>
        <button type="button" onclick="checkAge()" value="submit">Skicka in datumet</button>
    </div>
    <div>
        <a asp-page="/Login/LoginMenu">Logga in</a>
    </div>
</div>
